:root {
    --cor-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-principal: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #160c3b;
    --titulo-secundario: #5970b6;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.conteiner__caixa{
    margin: 0 6em;
}
.conteiner__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.conteiner__botao{
    background-color: var(--botao-principal);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}
.conteiner__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.secundario__imagem{
    width: 80%;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-principal);
    margin-bottom: 0,1em;
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.conteiner__descricao{
    padding: 2em;
}
.dispositivos{
    text-align: center;
    margin: 5em 0;
}
.dispositivos__titulo{
    font-size: 48px;
    color: var(--cor-principal);
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.lista__item{
    font-size: 32px;
    color: var(--cor-principal);
}
.rodape{
    text-align: center;
    margin: 5em;
}
.rodape__lista{
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    margin: 1.5em 0 1em 0;
}
.lista__link a{
    text-decoration: none;
    color: var(--cor-principal);
}
.rodape__texto{
    color: var(--cinza-secundario);
    margin: 1em 0;
}
.conteiner__botao:hover {
    background-color: var(--botao-azul-efeito);
    border: 2px solid var(--cor-principal);
}
.lista__link a:hover{
    color: var(--botao-principal);
}
.lista__link a:active {
    color: rgb(75, 8, 75);
}
.descricao__titulo:hover{
    color: var(--titulo-secundario);
}
.dispositivos__titulo:hover{
    color: var(--titulo-secundario);
}
